/* Put your style information here! */

body {
    background-color: rgb(205, 236, 255);
}

li {
    padding: 5px;
}

h2 {
    text-align: center;
}

h1 {
    text-decoration: underline;
    padding-top: 10%;
}

h3 {
    padding-top:10%;
}
.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.words {
    color: rgb(0, 55, 128);
    font-weight: 700;
}

.boxed {
    border: 5px solid #4034ac; 
    padding: 1%;
    margin: 1%;
    background-color: rgb(255, 255, 255);

}

.image {
    max-width: 50%;
}

.annotate {
    max-width: 70%:
}

.smaller {
    max-width: 60%;
}